# Visual Studio / C# Gitignore

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

## Build results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/

## Others
*.pdb
*.cache
*.log
packages/
TestResult.xml
*.coverage
*.vscode/
*.idea/
*.DS_Store
Thumbs.db


CHANGELOG.md
CHECKLIST.md
ROADMAP.md